.coverContainer {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 240px; 
}

.portadaImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profileContent {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55%;
  left: 24%;
  width: 100%;
}

.profilePictureContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fill-available;
}

.profilePicture {
  border-radius: 50%;
  border: 4px solid white;
}

.userName {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: white;
  padding-bottom: 1%;
  padding-left: 1%;
}

.followButton {
  margin-bottom: 1%;
  margin-left: 1%;
  background-color: #5c7cea;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5%;
  color: white;
  font-weight: 600;
}
.unFollowButton{
  background-color: #ec3232;
}

.stats {
  position: absolute;
  gap: 10px;
  display: flex;
  top: 82%;
  left: 8%;
  color: rgba(0, 30, 92, 0.6);
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
}

@media (max-width: 1280px) {
  .stats {
    left: 10%;
    line-height: 14px;
    font-size: 12px;
}
.followButton {
  padding: 8px 14px;
}
}
@media (max-width: 1024px) {

  .profileContent {
    left: 17%;
}
.userName {
  font-size: 26px;
}

.followButton {
  padding: 7px 12px;
  font-size: 10px;
}
.stats {
  left: 13%;
}
}

@media (max-width: 820px) {
  .stats {
      left: 16%;
  }
}
@media (max-width: 540px) {
  .stats {
      left: 22%;
  }
}
@media (max-width: 430px) {
  .profilePicture {
    width: 100px;
    height: 100px;
}
.profileContent {
  top: 64%;
  left: 6%;
}
.userName {
  font-size: 23px;
}
.followButton {
  padding: 7px 9px;
}
.coverContainer {
  height: 300px;
}
}