.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  background-color: white;
}

.modalClose {
  display: flex;
  justify-content: flex-end;
}
