.usersPreviewContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    padding: 1%;
  }
  .usersPreviewContainer span {
    color: #001e5d;
    font-weight: 600;
  }

  .usersPreviewTexts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }