
  
  .postHeader {
    margin-bottom: 10px;
  }
  
  .postTitle {
    font-weight: 600;
    font-size: 18px;
    color: #001e5d;
  }
  
  .postContent {
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 14px;
    color: #001e5d;
  }
  
  .postActions {
    display: flex;
    flex-direction: column;
  }
  
  .postIcons {
    display: flex;
    justify-content: left;
    gap: 25px;
    align-items: center;
    font-size: 16px;
    color: #007bff;
  }
  
  .postComments {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }

  .likesContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .noYetComments{
    color: #001e5d;
    font-size: 12px;
    text-align: left;
    margin-bottom: 1%;
  }

  .newCommnetInput{
    width: 100%;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 15px;
  }