.settingsContainer {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 14px;
  position: absolute;
  top: 6%;
  right: 2%;
  border: 1px solid #f3f6fa;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
  z-index: 10001;
}
.settingsButtonEdit {
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .settingsContainer {
    top: 8%;
    right: 3%;
  }
}
@media (max-width: 912px) {
  .settingsContainer {
    top: 4%;
  }
}
@media (max-width: 540px) {
  .settingsContainer {
    top: 6%;
  }
}
